
-@result.each_key do |area|
  %table
    %tr
      %th="Area: #{area} - Mese :#{@from_date.month}"
      -(@from_date..@to_date).each do |date|
        %th=date

    -@result[area].each do |sla, values|
      %tr
        %td=sla
        -values.each do |value|
          %td=value
