

- @clocks.each do |k,clocks|
  %h1="AREA #{k[0]}"
  -uless k[0].blank?
    %table.table.table-striped
      %tr
        %th utente
        %th check-in
        %th check-out
      %tr
        %td= k[1]
        -clocks.each do |clock|
          %td= clock.action
