@import "bootstrap";
@import "font-awesome";
@import "morris-0.4.3.min";
@import "timeline";
@import "sb-admin";


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.color0{background-color: lightsalmon; min-width: 45px; text-align: center}
.color2{background-color: lightcyan; min-width: 45px; text-align: center}
.color1{background-color: lightcyan; min-width: 45px; text-align: center}
.color3{background-color: lightcyan; min-width: 45px; text-align: center}
.color4{background-color: lightcyan; min-width: 45px; text-align: center}
.color5{background-color: lightcyan; min-width: 45px; text-align: center}
.color6{background-color: lightsalmon; min-width: 45px; text-align: center}

.border-left{ border-left-color: black; border-left-width: 1px;border-left-style: solid;}